[Unit]
Description=Podman API service

[Service]
User=root
WorkingDirectory=/var/run/
ExecStart=podman system service --timeout 5000 unix:///var/run/podman.sock
Restart=no

[Install]
WantedBy=multi-user.target